{% extends 'base.html' %} {% load static %} {% block content%}
<script text="javascript">
    window.onbeforeunload = function() { return "You work will be lost."; };
</script>
<section id="add_images" class="section padding-top side-margin">
<h2>Upload Images for your property</h2>
    <iframe src="/upload-image/{{pid}}" id="images" name="images" width="100%" style="height: 510px;" frameborder="0"></iframe>
    <p/>
    <a href="/confirm/"/> <button class="btn-guide" style="float: right;"> Next step</button> </a>
</section>
{% endblock %}