{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apartments in Shanghai: SHH</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-register.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.ico'%}">
</head>

<body>

    <!-- Header Section -->
    <section class="tophead" role="tophead">
        <!-- Navigation Section -->
        <header id="header">
            <div class="header-content clearfix"> <a class="logo" href="#"><img src="{% static 'images/logo/logo.png' %}" width="120px"></a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li><a href="/index/">Home</a></li>
                        <li><a href="/renter-guide/">Renter Guide</a></li>
                        <li><a href="/search/">Search Apartments</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a href="javascript:void(0)" onclick="openLoginModal();"><button class="btn-head">Sign In/Register</button></a></li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a> </div>
        </header>
    </section>
    <!-- Navigation Section -->

    {% block content %} {% endblock %}

    <!-- hide log-in section -->
    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Welcome</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="division">
                                <div class="line l"></div>
                                <div class="line r"></div>
                            </div>
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="post" action="/login" accept-charset="UTF-8">
                                    <input id="email-login" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="password-login" class="form-control" type="password" placeholder="Password" name="password">
                                    <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                                    <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                    <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                        <span><a href="#header" class="forgot-left">Forget password</a></span><br>
                        <span>Looking to
                                 <a class="blue" href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Already have an account?</span>
                        <a class="blue" href="javascript: showLoginForm();">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/retina.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/login-register.js' %}"></script>
</body>

</html>