<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Apartments in Shanghai:SHH</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/flexslider.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="images/logo/favicon.ico">
</head>

<body>

<!-- Header Section -->
<section class="tophead" role="tophead">
  <!-- Navigation Section -->
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="#"><img src="images/logo/logo.png" width="120px"></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="renter-guide.html">Renter Guide</a></li>
          <li><a href="search.html">Find Apartments</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
</section>
<!-- Navigation Section -->

  <!-- Testlist Section --> 
  
<section id="contact" class="section padding-top side-margin">
	<h4>ABOUT US</h4>
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-md-4">
          <p>Shanghai<br>Habitat</p>
					<p>email:contact@shhabitat.com</p>
      </div>

      <div class="col-md-8">
					<p>Shanghai Habitat位于中国上海，自2017年上线以来，迄今已有数万个注册房源登记。SHH致力于让每位在计划居住在上海都能“像当地人一样生活”，更好地体验当地文化，因此与其它中介平台不同，我们的房东大多为出租个人房屋的普通人。这些精心布置的家大多彰显着他们独特的品味和经历，他们希望住在这里的每个租客都能感受到家一样的舒适和便捷。 </p>
      </div>
          </div>
  </div>
  </section>





</body>
</html>

<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flexslider-min.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
</body>
</html>