{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Testlist Section -->
<section id="contact" class="section padding-top side-margin">
  <h4>ABOUT US</h4>
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-md-4">
        <p>Shanghai<br>Habitat</p>
        <p>email:contact@shhabitat.com</p>
      </div>

      <div class="col-md-8">
        <p>Shanghai Habitat位于中国上海，自2017年上线以来，SHH始终致力于让每位在计划居住在上海都能“像当地人一样生活”，更好地体验当地文化。因此与其它中介平台不同，我们的房东大多为出租个人房屋的普通人。这些精心布置的家大多彰显着他们独特的品味和经历，他们希望住在这里的每个租客都能感受到家一样的舒适和便捷。
          </p>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}



{% endblock %}