<!-- footer section -->
<footer id="contact" class="footer">
    <div class="container-fluid">
        <div class="col-md-2 left">
            <h4>Shanghai Habitat</h4>
            <p><a href="{% url 'terms' %}">Terms of Use</a></p>
        </div>
        <div class="col-md-2 left">
            <h4>Contact</h4>
            <p> Call: 021-63739280 <br> Email : <a href="mailto:contact@shhabitat.com"> contact@shhabitat.com </a></p>
        </div>
        <div class="col-md-2 left">
            <h4>Social presense</h4>
            <ul class="footer-share">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-md-6 right">
            <p>© 2017 All rights reserved. All Rights Reserved</p>
        </div>
    </div>
</footer>
<!-- footer section -->