{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Testlist Section -->
<section id="renter-guide" class="section renter-guide">
  <div class="container-fluid">
    <div class="row  guide-bkg">
      <div class="col-md-3">
        <h3 class="guide-head-top">Moving to Shanghai Guide</h3>
        <p class="guide-head-con">Welcome to Shanghai, the most populous city in the China with over 24 million residents. Whether you're a college
          student, post-grad or just moving to Shanghai to claim your piece of the city, use this housing guide to help you
          land an apartment in a neighborhood you like.</p>
      </div>
      <div class="col-md-9 guide-head-img"><img src="{% static 'images/guide/guide1.jpg' %}" class="img-responsive  listing-image" alt="">
      </div>
    </div>
    <h4 class="guide-heading">Why This Guide?</h4>
    <div class="row">
      <div class="col-md-3 guide-context center">

      </div>
      <div class="col-md-6 guide-context center">
        <p>Everyone who lives in Shanghai will have their own stories and ordeals when it comes to finding and renting an apartment.
          Unfortunately, there is no clean and clear when it comes finding your perfect place in Shanghai.</p>
        <p>With this guide we hope to give you some pro tips coming from a real estate insider which will arm you with the prerequisite
          information and preparation so that you can also navigate the rental market like a seasoned veteran. </p>
      </div>
      <div class="col-md-3 guide-context center">
      </div>
    </div>
    <h4 class="guide-heading">Begin Your Hunt</h4>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'images/icon/Silenced_96px.png' %}" class="center-block" />
        <h4 class="guide-subheading">unspoken rules</h4>
        <p>Difficulties in finding an apartment in Shanghai may make you feel you are drowning in trying to fit in to your new
          city. But as a matter of fact, you join everyone who are equally as confused and tired when it comes to finding
          a new apartment to rent. A majority of the confusion and difficulty actually doesn’t have anything to do with you,
          but instead comes down to unspoken and hidden customs and practices that only industry insiders know or people
          who have been through it before can only tell you.
        </p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/icon/Tail Of Whale_96px.png' %}" class="center-block" />
        <h4 class="guide-subheading">The pool is deeper than you can see</h4>
        <p>Often people say that in Shanghai property market, the pond is deeper than it looks when you put your foot in it.
          Whether you are a foreigner or local it will be the same issues when it comes to deciding how to find an apartment
          and also evaluating the the rental price compared to your budget. Therefore, its best to find someone who you can
          trust, and most of the time the best solution is to get some great recommendations from people who have been there
          and done that.
        </p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/icon/Good Quality_96px.png' %}" class="center-block" />
        <h4 class="guide-subheading">searching for recommendations</h4>
        <p>The best source for finding things is from a trusted source of information. When it comes to rentals, we depend on
          word of mouth recommendations and sometimes tads of information that we hear through the grapevine. Finding your
          apartment and just relying on an agent is often like walking down a road blindfolded. So when you start your search,
          a good place to begin is with the people you have around you and ask for their resources, experiences, and who
          helped them out in their time of need.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h4 class="guide-heading">Choose Your Living Style</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <img src="{% static 'images/guide/oldhouse.png' %}" class="img-responsive center-block guide-img" alt="">
        <h4 class="guide-subheading">old house</h4>
      </div>

      <div class="col-md-3">
        <img src="{% static 'images/guide/apartment.png' %}" class="img-responsive center-block guide-img" alt="">
        <h4 class="guide-subheading">highrise</h4>
      </div>

      <div class="col-md-3">
        <img src="{% static 'images/guide/villa.png' %}" class="img-responsive center-block guide-img" alt="">
        <h4 class="guide-subheading">villa</h4>
      </div>

      <div class="col-md-3">
        <img src="{% static 'images/guide/service-apt.png' %}" class="img-responsive center-block guide-img" alt="">
        <h4 class="guide-subheading">service apartment</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>There is a huge variety of room types in Shanghai with every price point catered for in the marketplace. Which room
          you will able to afford will obviously depend on your choice of neighborhood, size and budget. One bedroom and
          two bedroom apartments are prevalent in most neighborhoods and are the norm. With three bedroom apartments, these
          are less common but are rather concentrated in large luxury complexes and service apartment buildings. These apartments
          can be quite affordable if you have one or more roommates that you can share the costs with. Also, quite distinct
          to Shanghai are villas and old lane houses and in most cases are renovated in keeping with modern designs. These
          abodes are normally priced at a premium as they are in demand and in short supply. Finally, there are houses and
          villas that are equivalent to a house which are priced the highest but with the most livable area compared to all
          the other types.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="guide-heading">Find The Right Neighborhood</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'images/icon/icons8-home.png' %}" class="center-block" />
        <h4 class="guide-subheading">Neighborhoods in your budget</h4>
        <p>When it comes to picking your apartment, it is important to be realistic and consider your budget. And in many cases,
          where you can afford will depend on which neighborhood you choose to live in. As a good rule of thumb, the closer
          to the CBD such as Jingan, Xintiandi and the bund will be more expensive than neighborhoods that are further out.
        </p>
      </div>

      <div class="col-md-4">
        <img src="{% static 'images/icon/icons8-baby_feet.png' %}" class="center-block" />
        <h4 class="guide-subheading">Nothing beats walking around</h4>
        <p>The best way to get a feel which neighborhood is quite simply to take a walk or bike around the city. Shanghai is
          one of the most walkable cities and its quite enjoyable to walk through different streets and seeing what is going
          on. Try and wander around the French concession or the old shanghai lane ways and it might be during those moments
          that you will find where you belong as Shanghai quietly speaks to you.
        </p>
      </div>

      <div class="col-md-4">
        <img src="{% static 'images/icon/icons8-train.png' %}" class="center-block" />
        <h4 class="guide-subheading">Public Transportation</h4>
        <p><a href="http://service.shmetro.com/ien/map1.html"> Shanghai Subway Map<br>Click to View</a>
        </p>
      </div>

    </div>

    <h4 class="guide-heading">Fee vs No-Fee</h4>

    <div class="row">
      <div class="col-sm-5">
        <h4 class="guide-context-title">What is a "fee"?<br>("commission fee/broker fee")</h4>
      </div>
      <div class="col-sm-5">
        <p>A fee or an agent’s fee is the dollar amount that is paid for the services as an agent in finding a rental property.
          Usually for the tenant, this is fee is 35% of one month of rent or, in some cases such as in villas and houses,
          one month of rent. The agent will also get the equivalent amount of 35% of one month from the landlord which they
          represent. </p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h4 class="guide-context-title">Negotiate the fee</h4>
      </div>
      <div class="col-sm-5">
        <p>Some agents will be open to negotiating the fee. But most cases agents will come back with the reason that it’s better
          to pay the fee because they will quote you a higher rental price if you choose to negotiate the fee with them.
          There are instances where the landlord will pay for the agency fee on your behalf, but then usually the landlord
          will raise the rental price to recover the upfront cost from the tenant.
        </p>
        <p>If you never ask you never will know if you can get a better bargain. But make sure that you ask or negotiate with
          your agent before your working relationship. Don’t be shy, and make it a point at your first meeting before you
          view any apartments that you would like to talk about the fee with your agent.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h4 class="guide-context-title">Finding an apartment without a fee</h4>
      </div>
      <div class="col-sm-5">
        <p>There are ways to avoid paying the fee for agents, and the most direct way is to go straight to the landlord without
          the help of an agent. Or you can use an agent that is taking an agents fee from the landlord only.
        </p>
        <p>Whether the agent will only ask for an agent fee from the landlord will sometimes vary from agent to agent. However,
          it is a rule of thumb that agents will not ask for a fee from the tenant if your rent is already above 15,000 RMB
          per month or the apartment has been vacant for quite some time. This is something that you should clarify with
          an agent when they recommend you apartments right from the very start.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h4 class="guide-context-title">Do no-fees save money?</h4>
      </div>
      <div class="col-sm-5">
        <p>Good question. There is some debate as to whether no-fee rentals really do save renters money. Many no-fee rentals
          are in semi-luxury buildings and offer many amenities like in-building gyms, doormen, etc. You may save the fee,
          but you will find yourself paying a higher monthly rent in exchange for these perks.
        </p>
        <p>To figure it out, you would need to do the math and view comparables between no-fee rentals and rentals with a fee
          over a year’s time. Plus, once you’re in the market for a while, you will become attuned to the cost and value
          between fee and no-fee rentals and begin to weigh what’s important to you: the perks that might bump up the cost
          or a lower-cost apartment without the perks.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="listing-btn">
      <button class="btn-outline">More About Fees and Agents</button>
    </div>

    <h4 class="guide-heading">Signing and Deposits</h4>
    <div class="row">
      <div class="col-sm-5">
        <h4 class="guide-context-title">Inspect your apartment thoroughly
        </h4>
      </div>
      <div class="col-sm-5">
        <p>When you decide to rent an apartment, its vital that you inspect your property of any damages either to the equipment
          or the state of the apartment itself. When you sign the contract there is a promise on your part to look after
          the apartment and any damages while you are renting the apartment will be your responsibility. So keep a steely
          eye out when you are making an inspection of the apartment that you plan to sign, to avoid complications when you
          are living in it.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h4 class="guide-context-title">3-for-1 deposit
        </h4>
      </div>
      <div class="col-sm-5">
        <p>To take an apartment off the market, it is common for an agent or landlord to ask for a deposit. This payment is
          a way of showing good faith from both parties that there is a meeting of the mind and that both parties are happy
          to sign. Also, the deposit acts as an insurance for the landlord in case of any damages or unpaid utility bills
          that might occur at the end of the lease period. However, in most cases the deposit is paid back in full to the
          renter at the end of the lease.
        </p>
        <p>It is common to pay a deposit for one month and have rent paid quarterly, which is often referred to as 3-for-1.
          But don’t be surprised, for some properties that are in demand, when agents ask for 2 months of rent as deposit
          before they take the apartment off the market for you.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h4 class="guide-context-title">Contract terms and need-to-know
        </h4>
      </div>
      <div class="col-sm-5">
        <p>There are quite a few things you need know when you receive your rental contract and are about to sign it. Most important
          is to respect the local laws in Shanghai, which means the contract in Chinese will be the official contract between
          parties. The most important things to look out for in your contract, is to make sure the following things are listed
          in the contract: rental amount, day and month the rent is due, name, address and telephone numbers of both parties,
          and end and start date of the contract.
        </p>
        <p>Also, another tip is to make sure terms for early termination is clear in the contract. It works both ways to make
          sure if the renter wants to end the lease early, there is already an agreement on whether a penalty will apply
          or not. Also, it protects the renter in the event when the landlord wants to sell the apartment and wants to terminate
          the lease early.
        </p>
      </div>
      <div class="col-sm-2"></div>
    </div>



    <h4 class="guide-heading"> Stale listings/Bait and Switch</h4>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p>Sometimes during your search, you might come across listings on websites and and databases for apartments that are
          no longer available. This is unfortunately the reality of the rental market in Shanghai. As is often the case,
          there is a lag when landlords take apartments to be listed on or off through a brokerage firm, and agents who might
          not be contactable while they are busy showing other apartments to their clients. This will happen even to the
          best agents that are in the industry, however if this repeatedly happens to your agent it might be a sign to change
          agents.
        </p>
        <p>However, there are instances where agents advertise apartments which simply do not exist. You might enquire in person
          and the agents will make up a story to make you believe that the apartment that you want is not available, but
          they will then show you to other real apartments. This is kind of conduct is called bait & switch, and it is unacceptable;
          and if you do find out your agent is doing this then we strongly advise you to change agents.
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>




    <h4 class="guide-heading"> Agent harassment and landlord relationships</h4>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p>As with most long term relationships, the more you work on communicating and showing respect, the more the relationship
          will be a positive one. However, in saying that there will always be the possibility of having differences. Therefore,
          in those moments it’s important to understand how to deal with your landlord in an amicable way.
        </p>
        <p>The most common form of dispute in Shanghai, where there’s a lot of harassment and frustration between parties is
          when the apartment is on the market is listed for sale. In most contracts, there should be a clause that does allow
          landlords to enter the apartment and show prospective buyers, if they notify you with advance notice. Remember,
          unless they give you advance notice and you give permission, you do not need to open the door. It is an all too
          common story where an agent or landlord will turn up unannounced at your door and asking you to let them in. But
          at the end of the day, if you haven’t been notified and uncomfortable with it then don’t be shy to say no and have
          them come back at another time that you and your landlord have agreed on.
        </p>
        <p>Also, as we mentioned earlier its vital that you have inspected your apartment before signing the lease contract.
          Because when something in the apartment is broken or isn’t working through no fault of the renter, then it is the
          responsibility of the landlord to fix it. While many landlords will be responsible and timely when it comes to
          responding to these issues, there will always be a bit of time lag especially when some landlords are out of town
          or live in another city. The best course of action as a renter is to maintain a good relationship with your landlord
          and be patient.
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="listing-btn">
      <button id="backtotop" class="btn-outline"> Back To Top</button>
    </div>

    <!-- footer section -->
    {% include "footer.html" %}
    <!-- footer section -->
</section>

<!-- footer section -->
{# {% include "footer.html" %} #}
<!-- footer section -->

{% endblock %} 

{% block javascript %}
<script language="Javascript">
  document.oncontextmenu = new Function("event.returnValue=false");
  document.onselectstart = new Function("event.returnValue=false");

</script>

<noscript>
  <iframe src="*.htm"></iframe>
</noscript>

<script>
  var timer = null;
  backtotop.onclick = function () {
    cancelAnimationFrame(timer);
    timer = requestAnimationFrame(function fn() {
      var oTop = document.body.scrollTop || document.documentElement.scrollTop;
      if (oTop > 0) {
        scrollTo(0, oTop * 0.92);
        timer = requestAnimationFrame(fn);
      } else {
        cancelAnimationFrame(timer);
      }
    });
  }

</script>
{% endblock %}