{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Testlist Section -->
<section id="contact" class="section padding-top side-margin">
    <div class="row center">
  <h4>Terms of Services | Shanghai Habitat Beta version</h4>
         <p>Effective: June 30, 2017</p>
        <p>Welcome to our site.</p>
    </div>
  <div class="container-fluid no-padding">
    <div class="row">
        <div class="col-md-1"></div>
      <div class="col-md-3">
        <h5>Overview</h5>
      </div>
      <div class="col-md-8">
        <p>These Customer Terms of Service (the “Customer Terms”) describe your rights and responsibilities when using our online real estate sales solution tools and platform (the “Services”). Please read them carefully. If you are a Customer (defined below), these Customer Terms govern your access and use of our Services.
          </p>
          <p>
              These Customer Terms (or, if applicable, your written agreement with us) and any Order Form(s) (defined below) together form a binding “Contract” between Customer and us.
          </p>
          <p>
              Your use of Shanghai Habitat services, and Services is subject to the terms and conditions contained in this document as well as the Privacy Policy and any other rules and policies of Shanghai Habitat that may be published by Shanghai Habitat from time to time. By accessing Shanghai Habitat or using the Services, you agree to accept and be bound by the Customer Terms. Please do not use the Services or Shanghai Habitat if you do not accept all of the Customer Terms.
          </p>
          <p>
             You may not use the Services and may not accept the Customer Terms if (a) you are not of legal age to form a binding contract with Shanghai Habitat, or (b) you are not permitted to receive any Services under the laws of PR China or other countries / regions including the country / region in which you are resident or from which you use the Services.
          </p>

      </div>
    </div>

      <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <h5>Application and Acceptance of Terms</h5>
          </div>
          <div class="col-md-8">
            <p>These “Customer Terms” Form a Part of a Binding “Contract”
              </p>
              <p>These Customer Terms (or, if applicable, your written agreement with us) and any Order Form(s) (defined below) together form a binding “Contract” between Customer and us.
                </p>
              <p>Your use of Shanghai Habitat services, and Services is subject to the terms and conditions contained in this document as well as the Privacy Policy and any other rules and policies of Shanghai Habitat that may be published by Shanghai Habitat from time to time. By accessing Shanghai Habitat or using the Services, you agree to accept and be bound by the Customer Terms. Please do not use the Services or Shanghai Habitat if you do not accept all of the Customer Terms.
                </p>
              <p>You may not use the Services and may not accept the Customer Terms if (a) you are not of legal age to form a binding contract with Shanghai Habitat, or (b) you are not permitted to receive any Services under the laws of PR China or other countries / regions including the country / region in which you are resident or from which you use the Services.
                </p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <h5>Customer Choices and Instructions</h5>
          </div>
          <div class="col-md-8">
            <p>Who is “Customer”?
              </p>
              <p>“Customer” is the organization that you represent in agreeing to the Contract.
                </p>
              <p>Signing Up Using a Corporate Email Domain
                </p>
              <p>If you signed up for a plan using your corporate email domain, your organization is Customer.
                </p>
              <P>What This Means for Customer—and for Us?
                </P>
              <p>Customer who have access to the Services may submit content or information to the Services, such as messages or files (“Customer Data”), and Customer may exclusively provide us with instructions on what to do with it. For example, Customer may provision or deprovision access to the Services, enable or disable third party integrations, manage permissions, retention and export settings, transfer or assign teams, share channels, or consolidate teams or channels with other teams or channels.
                </p>
          </div>
      </div>


  </div>
</section>

{% include "footer.html" %}



{% endblock %}